{% extends 'base.html.twig' %}
{% block title %}Hello Connection Controller!{% endblock %}
{% block body %}
    <h1>Connexion</h1>
    {{ include('auteur/_formConnect.html.twig') }}
    {{ include('auteur/new.html.twig') }}
{% endblock %}
