{% extends "base.html.twig" %}
{% block body %}
    <h1>Salut ttlm</h1>
    <main role="main">
        {% for auteur in auteurs %}
        <div>

            <p>Nom {{ auteur.nom }}</p>
            <p>Email {{ auteur.email }}</p>
            <p>MDP {{ auteur.mdp }}</p>
            <p>..........................................................</p>
        </div>
        {% endfor %}
    </main>
    <a href="{{ path('nouvel_auteur') }}">Form BD</a>
{% endblock %}
